<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.css') }}">

        <title>{% block title %}{% endblock %}</title>
    </head>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-toggleable-sm fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Männerfestspiele</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('news') }}">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('disciplines') }}">Disziplinen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('time_schedule') }}">Zeitplan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('image_gallery') }}">Bildergallerie</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('results') }}">Gesamtergebnis</a>
            </li>
           -->

            {% if current_user.is_authenticated and current_user.Role is not none %}
            {% if 'admin' in current_user.Role %}

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_menu') }}">Admin</a>
            </li>
            {% endif %}
            {% endif %}
            <!--
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown01">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            -->
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">User: {{current_user.UserName}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="color:red">User: not loggend in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}" style="color:green">Login</a>
            </li>
            {% endif %}
          </ul>
          <!--
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          -->
        </div>
      </div>
    </nav>

    <main class="flex-shrink-0">
      {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
          {% for category, message in messages %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/top-alert.css') }}">
            <div id="top-alert" class="alert alert-{{ category }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <!-- <strong>Title</strong> --> {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <div class="container">
            <div class="starter-template text-center py-5 px-3">
                <p class="lead">{% block main %}{% endblock %}</p>
            </div>
            
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
            <script src="{{ url_for('static', filename='bootstrap/assets/js/vendor/popper.min.js') }}"></script>
            <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>

            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
            {% block scripts %}{% endblock %}
        </div>
    </main>

    <footer class="footer fixed-bottom mt-auto py-3 bg-light">
        <div class="container">
            <p>Clone me on <a class="link" href="https://github.com/muenzerik/tournament-mgr">GitHub</a></p>
        </div>
    </footer>

</html>
