{% extends "base.html" %}

{% block title %}{{ discipline }}{% endblock %}

{% block main %}

<h2>Disziplin: {{ discipline[1].Name }}</h2>

{% if opponents.count() > 0 %}
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Gegner</th>
        <th scope="col">Ergebnis</th>
      </tr>
    </thead>
    <tbody>
        {% for form in forms %}
        <tr>
          <td>{{ opponents[loop.index0][1].UserName }}</td>
          <td>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.result.label }}<br>
                {{ form.result }}<br>
                {% for error in form.result.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.submit() }}<br>
            </form>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% else %}

<p>Du bist derzeit der einzige Spieler im Turnier. Du kannst hier nicht gegen dich selbst spielen und braucht Gegener. Bitte kontaktiere den Admin.</p>

{% endif %}

{% endblock %}