{% extends "base.html" %}

{% block title %}Disziplinen{% endblock %}

{% block main %}

<h2>Disziplinen</h2>

<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>Ergebineingabe</th>
      <th>Disziplin Scoreboard</th>
    </tr>
  </thead>
  <tbody>
    {% for discipline in disciplinelist %}
      <tr>
        <td><a class="link" href="{{ url_for('discipline', discipline=discipline[1].Name) }}">{{ discipline[1].Name }} <br> Ergebnis eintragen...</a></td>
        <td><a class="link" href="{{ url_for('result', discipline=discipline[1].Name) }}">{{ discipline[1].Name }} <br> Scoreboard...</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
