{% extends "base.html" %}

{% block title %}News{% endblock %}

{% block main %}

<h2>News</h2>

<h3 align="left">23. September 2021:</h3>
<p align="left"> 
    Die erste Version der Männerfestpiele App ist endlich fertig.<br>
    <br>
    Hier nochmal der Hintergrund warum die App geschrieben wurde:<br>
    <br>
    Männerfestspeiele 2020 (und wahrscheinlich auch vorher):<br>
    <br>
    <img src="static/images/mfs_history/IMG-7331.jpg" class="img-fluid" alt="Responsive image">
    <br>
    <img src="static/images/mfs_history/IMG-7332.jpg" class="img-fluid" alt="Responsive image">
    <br>
    <img src="static/images/mfs_history/IMG-7333.jpg" class="img-fluid" alt="Responsive image">
    <br>
    ...spatestens nach dem 5. Bier hatte kaum einer mehr eine Ahnung, wie was wo einegtragen werden muss - geschweige denn, wie man das am Ende zusammenzählt.<br>
    <br>
    Diese App hier ist der Versuch, die Wertungsproblemen aus dem Weg zu gehen und uns den wesentlichen Dingen widmen zu können:<br>
    <br>
    -Männer<br>
    -Bier<br>
    -Spiele<br>
    -Spaß<br>
    <br>
    Notiz am Rande:<br>
    Die App ist zweifelsfrei meisterhaft entwickelt worden.<br>
    Sollte also einmal etwas nicht funktionieren, dann ist das mit ziemlicher Sicherheit ein Anwenderfehler.<br>
    Also, bitte nicht kaputt machen und viel Spaß damit!<br>
    <br>
    <br>
</p>

<h3 align="left">25. September 2021:</h3>
<p align="left"> Lasst die Speiele beginnen<br><br><br></p>

{% endblock %}